body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 50%, #9599E2 100%);
    margin: 0cm;
    padding: 0cm;
    font-family: 'Roboto', sans-serif;
}
    
.box {
    position: absolute;
    text-align: center;
    width: 400px;
    padding: 50px;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    background-color: rgb(247, 241, 241);
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
    
.box input[type = "text"], .box input[type = "pass"]{
    background: none;
    background-color: white;
    display: block;
    text-align: center;
    border: 1px solid #2d2bad;
    padding: 10px 20px;
    margin: 30px auto;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 10px 40px;
    transition: all 0.5s ease 0s;
    }
.box input[type = "pass"]{
    -webkit-text-security: disc;
}
    
.box h1{
    color: black;
    font-weight: 300;
}
.box h2{
    color: black;
    font-weight: 100;
    font-size: 20px;
    }
.box input[type=submit] {
    width: 120px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000;
    background-color: white;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    outline: none;
}

.box input[type = "text"]:focus, .box input[type = "pass"]:focus{
    width: 230px;
    border-color: #00b7ff;
}

    
.box input[type=submit]:hover {
    background-color: #00b7ff;
    box-shadow: 0px 15px 20px rgb(137, 231, 255);
    color: #fff;
}